<!DOCTYPE html>
<html ng-app="myModule">
<head>
<link rel="stylesheet" href="/css/login.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/scripts/app.js"></script>
</head>
<body ng-controller="myController">

<marquee> Get 5% cashback* on select iPhones only with Citi Credit Cards EMI. Validity: June 15 – Sep 30, 2018. <img src="/images/citi.jpg" width="40" height="25" > Get 5% additional cashback on purchase of Nokia 6 (New) using ICICI Bank Credit or Debit Card. Terms and Conditions apply!*** <img src="/images/ici.png" width="40" height="25" alt="Tutorials " border="0"></marquee>

<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">Contact Us</a>
  <div class="dropdown">
    <button class="dropbtn">Men's Fashion
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#Clothing">Clothing</a>
      <a href="#Shoes">Shoes</a>
      <a href="#Watches">Watches</a>
	  <a href="#Sunglasses">Sunglasses</a>
	  <a href="#Bags">Bags</a>
	  <a href="#Accessories">Accessories</a>
	  </div>
	
	  
	 
  </div> 
  
    <div class="dropdown">
    <button class="dropbtn">Women's Fashion
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#Clothing">Clothing</a>
      <a href="#Shoes">Shoes</a>
      <a href="#Watches">Watches</a>
	  <a href="#Sunglasses">Sunglasses</a>
	  <a href="#Bags">HandBags & Cluthes</a>
	  <a href="#Accessories">Fashion Jewellery</a>
	  </div>
	  
	
  </div> 
  
     <div class="dropdown">
    <button class="dropbtn">Kids's Fashion
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#Diapers">Diapers</a>
      <a href="#Kid's Clothing">Kid's Clothing</a>
      <a href="#Kid's Shoes">Kid's Shoes</a>
	  <a href="#School Bags">School Bags</a>
	  <a href="#Toys">Toys </a>
	
	  </div>
	  
	
  </div> 
  
    <div class="dropdown">
    <button class="dropbtn">Mobiles & Computers
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#Mobiles">Mobiles</a>
      <a href="#Power Banks">Power Banks</a>
      <a href="#Laptops">Laptops</a>
	  <a href="#Tablets">Tablets</a>
	  <a href="#Pen Drives">Pen Drives</a>
	  <a href="#Wearable Devices">Wearable Devices</a>
	  </div>
	  

	
  </div> 
  
  
   <div class="dropdown">
    <button class="dropbtn">Home & Kitchen
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#Furniture">Furniture</a>
      <a href="#Home Decor">Home Decor</a>
      <a href="#Garden and Outdoor">Garden and Outdoor</a>
	  <a href="#Indoor Lightening">Indoor Lightening</a>
	  <a href="#Dining">Dining</a>

	  </div>
	
	  
	 
  </div> 
  
   <div class="dropdown">
    <button class="dropbtn">Recharges & Bill Payments
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#Prepaid Monile Recharge">Prepaid Monile Recharge</a>
      <a href="#DTH Recharge">DTH Recharge</a>
      <a href="#Electricity Bills">Electricity Bills</a>
	  <a href="#Landline Bills">Landline Bills</a>
	  <a href="#Broadband Bills">Broadband Bills</a>

	  </div>
	
	  
	 
  </div>

  
  <div>
 <a href="#cart">My Bucket  </a>  
 </div>
 
 <div>
<img src="/images/cartnew4.png" width="45" height="45" padding= "5px">
</div>

 
</div>



<div id="far-right">
   <img src="/images/services-sales.gif" alt="Computer Man" style="width:500px;height:300px;">
   
</div>




<div id= "fa-caret-down">
<h1 text-align="center"> Attention Shopaholics!!!</h2>
<marquee direction="up" behaviour="slide"
 scroolamount="10">
<b>Get Exciting Offers In The End Of Season Sale! <b> <br> <br>
We bring you the best of brands at the best of prices.<br><br>
Checkout out new collection for Women's Fashion from Madame.<br><br>
Sign up to avail our great offers and discounts right now!  </marquee>
</div>


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h5>User signup successful</h5>
    <h1 class="active"> Smart Bucket </h1>
	<br>
	 <h3 class="active"> " Your Bucket Of Happiness! "</h3>
    <!--<h2 class="inactive underlineHover">Sign Up </h2>-->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/images/cartnew4.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="login">
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="Email Id" required/>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter Password" required/>
      <input type="submit" class="fadeIn fourth" value="Log In"/>
	  <br>
	   <a href= "/signuppage" class="fadeIn fourth" >Sign Up</a>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>

</body>
</html>


                                                                                                                                                                                                        